src/main/resources/wsdl/quitter.wsdl

<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.quiter.com/InvoicesIntegration" xmlns="http://www.quiter.com/InvoicesIntegration" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InvoicesIntegration" targetNamespace="http://www.quiter.com/InvoicesIntegration">
    <wsdl:documentation>
        Owner: Quiter Servicios Informaticos S.L. Service: InvoicesIntegration Version: 1.0 Description: Integration of invoices of documentary manager.
    </wsdl:documentation>
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://www.quiter.com/InvoicesIntegration" targetNamespace="http://www.quiter.com/InvoicesIntegration" elementFormDefault="qualified">
            <xsd:element name="executeInvoicesIntegration">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="dealerCode" type="xsd:string"/>
                        <xsd:element name="user" type="xsd:string"/>
                        <xsd:element name="password" type="xsd:string"/>
                        <xsd:element name="invoices" type="InvoicesType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="executeInvoicesIntegrationResponse">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element name="message" type="MessageType"/>
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:complexType name="InvoicesType">
                <xsd:sequence>
                    <xsd:element name="invoice" type="InvoiceType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="InvoiceType">
                <xsd:sequence>
                    <xsd:element name="invoiceID" type="xsd:string"/>
                    <xsd:element name="company" type="xsd:string"/>
                    <xsd:element name="department" type="xsd:string"/>
                    <xsd:element name="nif" type="xsd:string"/>
                    <xsd:element name="postingDate" type="xsd:string"/>
                    <xsd:element name="invoiceDate" type="xsd:string"/>
                    <xsd:element name="office" type="xsd:string"/>
                    <xsd:element name="brand" type="xsd:string"/>
                    <xsd:element name="details" type="DetailsType"/>
                    <xsd:element name="taxes" type="TaxesType"/>
                    <xsd:element name="paymentMethodInfo" type="PaymentMethodType"/>
                    <xsd:element name="invoiceNumber" type="xsd:string"/>
                    <xsd:element name="totalAmount" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DetailsType">
                <xsd:sequence>
                    <xsd:element name="detail" type="DetailType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="DetailType">
                <xsd:sequence>
                    <xsd:element name="concept" type="xsd:string"/>
                    <xsd:element name="amountWithoutVAT" type="xsd:string"/>
                    <xsd:element name="expenseAccount" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxesType">
                <xsd:sequence>
                    <xsd:element name="tax" type="TaxType" maxOccurs="unbounded"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="TaxType">
                <xsd:sequence>
                    <xsd:element name="type" type="xsd:string"/>
                    <xsd:element name="taxBase" type="xsd:string"/>
                    <xsd:element name="percentage" type="xsd:string"/>
                    <xsd:element name="totalInvoice" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="PaymentMethodType">
                <xsd:sequence>
                    <xsd:element name="paymentMethod" type="xsd:string"/>
                    <xsd:element name="bank" type="xsd:string"/>
                    <xsd:element name="expirationDate" type="xsd:string"/>
                    <xsd:element name="account" type="xsd:string"/>
                    <xsd:element name="generateDeadline" type="xsd:boolean"/>
                </xsd:sequence>
            </xsd:complexType>
            <xsd:complexType name="MessageType">
                <xsd:sequence>
                    <xsd:element name="result">
                        <xsd:simpleType>
                            <xsd:restriction base="xsd:string">
                                <xsd:enumeration value="SUCCESS"/>
                                <xsd:enumeration value="ERROR"/>
                            </xsd:restriction>
                        </xsd:simpleType>
                    </xsd:element>
                    <xsd:element name="description" type="xsd:string"/>
                    <xsd:element name="documentID" type="xsd:string"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="executeInvoicesIntegrationRequest">
        <wsdl:part element="tns:executeInvoicesIntegration" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="executeInvoicesIntegrationResponse">
        <wsdl:part element="tns:executeInvoicesIntegrationResponse" name="return"/>
    </wsdl:message>
    <wsdl:portType name="InvoicesIntegration">
        <wsdl:documentation>Integration of invoice</wsdl:documentation>
        <wsdl:operation name="executeInvoicesIntegration">
            <wsdl:input message="executeInvoicesIntegrationRequest"/>
            <wsdl:output message="executeInvoicesIntegrationResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="InvoicesIntegrationWSSOAP" type="InvoicesIntegration">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="executeInvoicesIntegration">
            <soap:operation soapAction="executeInvoicesIntegration"/>
            <wsdl:input name="executeInvoicesIntegrationRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="executeInvoicesIntegrationResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="InvoicesIntegration">
        <wsdl:port binding="InvoicesIntegrationWSSOAP" name="InvoicesIntegration">
            <soap:address location="http://demojlr.quiter.com:6080/QLServices/IntegradorFacturasRenault/InvoicesIntegration.pws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>